<mat-toolbar class="px-15" color="primary" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
  <span fxFlex="auto">Trello</span>
  <mat-form-field floatLabel="never">
    <input (keydown.enter)="addList()" [(ngModel)]="listLabel" matInput type="text"  placeholder="add a list" >
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="addList()">Ajouter une liste</button>
</mat-toolbar>
<div class="p-15" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="15px">
  <mat-card  *ngFor="let list of lists;let listIndex = index;">
    <mat-card-header appDragable (switchList)="switchList($event)" [attr.list-index]="listIndex" fxLayoutAlign="center center" class="text-center">{{ list.label }}</mat-card-header>
    <mat-card-content>
      <ul>
        <li appDragable [attr.item-index]="itemIndex" [attr.list-index]="listIndex" (switchItem)="switchItem($event)" [class.odd]="odd" *ngFor="let item of list.items;let odd = odd;let itemIndex = index;">
          <span>{{ itemIndex }} : {{ item.content }}</span>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field floatLabel="never">
        <input (keydown.enter)="addItem(list)" [(ngModel)]="itemLabel" matInput type="text"  placeholder="add an item" >
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addItem(list)">Ajouter un item</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- 
<div fxLayout="row" fxLayoutAlign="center center">
  <pre>{{ lists | json }}</pre>
</div> -->